.contact {
  padding: 50px;
  width: 100%;
  background-color: #37474f;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #0099ff;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00bcd4;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #eff3f5;
  }
}
