.experiences {
    padding-top: 50px;
    background-color: #263238;
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #0099ff;
    width: 100%;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: #00bcd4;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: #00bcd4;
    }
  
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: #ffffff;
    }

    h4 {
      color: #37474f;
      font-size: 1.2rem;
      color: #ffffff;
    }

    .timeline {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .experience-item {
      width: 80%;
      padding: 20px;
      background-color: #455a64;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: left;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &.current {
        background-color: #37474f;
        border-left: 5px solid #00ffcc;
      }
  
      .experience-logo {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 5px;
        display: block;
      }
  
      .experience-details {
        h3 {
          font-size: 1.5rem;
          color: #00bcd4;
          margin-bottom: 10px;
        }
  
        .role,
        .period,
        .location {
          color: #eff3f5;
          font-size: 1rem;
        }
  
        .extra-details {
          margin-top: 15px;
          padding-top: 10px;
          border-top: 1px solid #0099ff;
          color: #eff3f5;
        }
      }
    }
  }
  