.tabs {
    display: flex;
    background-color: #263238; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .tabs button {
    padding: 15px 30px;
    margin-right: 20px;
    background-color: transparent;
    color: #eff3f5;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .tabs button.active {
    color: #ffffff;
    background-color: #455a64;
    border-radius: 5px 5px 0 0; 
  }
  
  .tabs button.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  .tabs button:disabled {
    color: #607d8b; 
    background-color: #37474f;
    cursor: not-allowed; 
    opacity: 0.6;
    box-shadow: none;
}
  .tab-content {
    background-color: #455a64;
    color: #ffffff; 
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .tab-content .project {
    background-color: #607d8b;
    padding: 20px;
    // margin: 10px;
    border-radius: 5px;
    width: 45%; 
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .tab-content .project h3 {
    color: #00bcd4;
    font-size: 1.5rem;
  }
  
  .tab-content .project p {
    color: #eff3f5;
    font-size: 1rem;
  }
  
  .tab-content .project:hover {
    background-color: #455a64;
    transform: scale(1.05);
  }
  
  .border-bottom {
    border-bottom: 2px solid #0099ff;
  }